@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
  background-image: url('../assets/block.png');
  background-repeat: no-repeat; 
  background-size: cover;
}


.image01{
  margin-left: 200px;
  margin-top: 100px;
  width: 75%;
  height: 75%;
}

.pos{
  position:relative;
  bottom: 580px;
  left: 1630px;
}

.img__description {
  position: relative;
  text-align: center;
  color: #000;
  visibility: hidden;
  opacity: 0;
  font-size: 25px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.pos:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }